.content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/DeggSmith.png");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
}

body {
  overflow: hidden;
}